.backlog {
	float: right;
	height: 510px;
	width: 128px;
	padding: 80px 30px 0 0;
}

.backlog .title {
	text-align: center;
	color: #fff;
}

.backlog .gaugeContainer {
	width: 80%;
	height: 10px;
	margin: 10px 10%;
	border:1px solid #fff;
	overflow: hidden;
}

.backlog .gaugeContainer .gauge {
	width: 0%;
	height: 100%;
	background-color: red;
}

.backlog .gaugeContainer .gauge.relax {
	background-color: green;
}

.backlog .gaugeContainer .gauge.nervous {
	background-color: orange;
}

.backlog .gaugeContainer .gauge.dead {
	background-color: red;
}

.backlog .cards {
	width: 120px;
	height: 460px;
	position: relative;
	background-image:url('../assets/img/tapis-roulant-bg.png');
	border:4px solid #929292;
	box-shadow: 0 0 10px #000, 0 10px 10px -10px #000 inset;

    animation: moveTapisRoulant 200ms linear infinite;
    -webkit-animation: moveTapisRoulant 200ms linear infinite;
    -moz-animation:    moveTapisRoulant 200ms linear infinite;
}

.backlog .cards .card {
	position: absolute;
	left: 0px;
    top: 460px;
	cursor:move;
}


@-webkit-keyframes moveTapisRoulant {
    0% { background-position: 0 0px; }
    100% { background-position: 0 -6px; }
}
@-moz-keyframes moveTapisRoulant {
    0% { background-position: 0 0px; }
    100% { background-position: 0 -6px; }
} 