.backlog {
	background-color: #000;
	float: right;
	width: 15%;
	height: 600px;
	padding: 5px;
	border-left: 1px solid #fff;
	position: relative;
}

.backlog .card {
	position: absolute;
	left: 0px;
    top: 600px;
}