.bonus {
	display: inline-block;
	vertical-align: middle;
	width: 348px;
}

.backlogCardsImprovement,
.emptyBacklog,
.cardTimeMinus,
.newDev,
.newTask,
.lifeImprovement{
	height: 50px;
	width: 50px;
	margin: 0 3px;
	border: 1px solid #444;
	display: inline-block;
	border-radius: 1px;
	position: relative;
}
.backlogCardsImprovement .imgbonus,
.emptyBacklog .imgbonus,
.cardTimeMinus .imgbonus,
.newDev .imgbonus,
.newTask .imgbonus,
.lifeImprovement .imgbonus{
	margin:0;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
}
.backlogCardsImprovement .imgbonus{background-image: url('../assets/img/bonus/bonus-upgradebacklog.png');}
.emptyBacklog .imgbonus{background-image: url('../assets/img/bonus/bonus-emptybacklog.png');}
.cardTimeMinus .imgbonus{background-image: url('../assets/img/bonus/bonus-halftime.png');}
.newDev .imgbonus{background-image: url('../assets/img/bonus/bonus-adddev.png');}
.newTask .imgbonus{background-image: url('../assets/img/bonus/bonus-upgradedev.png');}
.lifeImprovement .imgbonus{background-image: url('../assets/img/bonus/bonus-life.png');}


.bonus div.noActive {
	background: url('../assets/img/locked.png') no-repeat center center #AAA;
}
	.bonus div.noActive .imgbonus{
		opacity: 0.2;
	}

.bonus div.waiting {
	background: #AAA;
}
.bonus div.waiting .imgbonus{
}
	.bonus div.waiting .gaugebonus {
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		background-color: #888;
		width: 100%;
		opacity: 0.9;
		margin: 0;
		animation-name: inactiveBonusGauge;
		animation-timing-function: linear;
	    -webkit-animation-name: inactiveBonusGauge;
	    -webkit-animation-timing-function: linear;
	    -moz-animation-name: inactiveBonusGauge;
	    -moz-animation-timing-function: linear;
	}
		@-webkit-keyframes inactiveBonusGauge {
		    0% { height: 100%; }
		    100% { height: 0; }
		}
		@-moz-keyframes inactiveBonusGauge {
		    0% { height: 100%; }
		    100% { height: 0; }
		}
		@keyframes inactiveBonusGauge {
		    0% { height: 100%; }
		    100% { height: 0; }
		} 

.bonus div.active {
	background-color: #FFF;
}
.bonus div.active div{
	opacity: 1;
	cursor: pointer;
}



