.bonus {
	display: inline-block;
	vertical-align: middle;
	width: 348px;
}

.bonus div {
	height: 50px;
	width: 50px;
	margin: 0 4px;
	display: inline-block;
	border-radius: 1px;
}

.bonus div.noActive {
	background: url('../assets/img/locked.png') no-repeat center center #FFF;
	opacity: 0.3;
}
.bonus div.active {
	background-color: green;
	cursor: pointer;
}