

/*--------------------------------*\
	BUTTON
\*--------------------------------*/


.btn{
	font-family:"komika";
	font-size: 1em;
	position: relative;
	border:none;
    color: #888;
    background: none;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
	text-align: center;
	cursor: pointer;
	z-index: 9;
}

.btn:hover,.btn:focus{
	color: #cb2100;
}
.btn:hover:before{
	content: "";
	width: 84%;
	height: 80%;
	position: absolute;
	top: 10%;
	z-index: -1;
	background: #FFF;
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	margin: 0 auto;
	box-shadow: 6px 6px rgba(0,0,0,0.5);
	left: 8%;
}
.btn:active{
    padding: 16px 20px 4px;
}
.btn:active:before{
	box-shadow: none;
	top: 20%;
}




.btn:disabled{
	opacity: 0.4;
	cursor: default;
}
.btn:disabled:hover,.btn:disabled:focus{
	color: #000;
}
.btn:disabled:hover:before,.btn:disabled:focus:before{
	display: none;
}
.btn:disabled:active{
    padding: 10px 20px;
}




/*--------------------------------*\
	MAIN BUTTON
\*--------------------------------*/


.btn-main{
	font-family:"komika";
	font-size: 1em;
	position: relative;
	border:none;
    color: #000;
    background: none;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
	text-align: center;
	cursor: pointer;
	z-index: 9;
}
.btn-main:before{
	content: "";
	width: 84%;
	height: 80%;
	position: absolute;
	top: 10%;
	z-index: -1;
	background: #FFF;
	transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	margin: 0 auto;
	box-shadow: 6px 6px rgba(0,0,0,0.5);
	left: 8%;
}
.btn-main:hover, .btn-main:focus{
	color:#cb2100;
}

.btn-main:active{
    padding: 16px 20px 4px;
}
.btn-main:active:before{
	box-shadow: none;
	top: 20%;
}


/*--------------------------------*\
	START BUTTON
\*--------------------------------*/
.firstPageStart{
	font-size: 1.6em;
}
.firstPageStart:before{
	left: 4%;
	padding: 0 10px;
}


/*--------------------------------*\
	IMG BUTTON
\*--------------------------------*/

.btn-img{
	margin: 6px 10px;
	display: inline-block;
	border: none;
	vertical-align: top;
	width: 80px;
	height: 80px;
	cursor: pointer;
}
.btn-img:hover,.btn-img:focus{
	margin: 0 10px 12px;
	box-shadow: 6px 6px rgba(0,0,0,0.5);
}



/*--------------------------------*\
	SPECIFIC SET
\*--------------------------------*/

.help .btn, .githubPage .btn,.help .btn-main, .githubPage .btn-main{
	display: inline-block;
	vertical-align: top;
}

