.column {
	display: inline-block;
	background-color: grey;
	vertical-align: top;
	padding: 5px;
	width: 15%;
}

.column.active {
	background-color: black;
}

.column.inactive {
	background-color: grey;
}