.columns {
	margin: 20px 180px 20px 20px;
}

.column {
	vertical-align: top;
	padding:0 0 10px 0;
}

.column.canBeActive.true {
	
}

.column.active {
	
}

.column.active.dragOver {
	background-color: green;
}

.column.inactive {
}