@font-face {
    font-family: 'komika';
    src: url('../assets/font/KOMIKAX.eot');
    src: url('../assets/font/KOMIKAX.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/KOMIKAX.woff') format('woff'),
         url('../assets/font/KOMIKAX.ttf') format('truetype'),
         url('../assets/font/KOMIKAX.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



.number{
	background: url('../assets/img/numbers.png') no-repeat 0px 0px;
	width:22px;
	height:30px;
	display: inline-block;
}
.number.number-zero{background-position:0 0;}
.number.number-un{background-position:-22px 0;}
.number.number-deux{background-position:-44px 0;}
.number.number-trois{background-position:-66px 0;}
.number.number-quatre{background-position:-88px 0;}
.number.number-cinq{background-position:-110px 0;}
.number.number-six{background-position:-132px 0;}
.number.number-sept{background-position:-154px 0;}
.number.number-huit{background-position:-176px 0;}
.number.number-neuf{background-position:-198px 0;}

