.game, .page{
	width: 980px;
	height: 580px;
	margin: 1px;
	background-color: #222;
	border: 9px solid #999287;
	box-shadow: 0 0 0px 1px #000, 0 0 0px 1px #000 inset, 0 0 40px 0px #000 inset;
}

.sprint {
	position: absolute;
	top: 200px;
	left: 100%;
    height: 100px;
	background-color: #fff;
	width: 100%;
    opacity: 0;
	text-align: center;
	font-family: "komika";
	animation: showSprint 4s linear;
	-webkit-animation: showSprint 4s linear;
}

.sprint .title {
    position: absolute;
    color: #000;
    top: 0;
    left: -100%;
    width: 100%;
    padding: 18px 0 0;
    animation: moveTitle 4s linear;
    -webkit-animation: moveTitle 4s linear;
}
.sprint .title span{
    font-size: 0.5em;
}

@-webkit-keyframes showSprint {
    0% {left:0;}
    1% {opacity: 0;}
    5% {opacity: 1;}
    95% {opacity: 1;}
    99% {left:0;opacity: 0;}
    100% {left:100%;}
}
@keyframes showSprint {
    0% {left:0;}
    1% {opacity: 0;}
    5% {opacity: 1;}
    95% {opacity: 1;}
    99% {left:0;opacity: 0;}
    100% {left:100%;}
}
@-webkit-keyframes moveTitle {
    0% {left: 100%;}
    10% {left: 5%;}
    90% {left: -5%;}
    100% {left: -100%;}
}
@keyframes moveTitle {
    0% {left: 100%;}
    10% {left: 5%;}
    90% {left: -5%;}
    100% {left: -100%;}
} 