.headerColumn {
	width: 100px;
	height: 75px;
	display: inline-block;
	border: 3px solid #6f6f6f;
	background-color: #6f6f6f;
	border-radius:2px;
}
.column.active .headerColumn {
	background-image: url(../assets/img/dev-card-bg.png);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.headerColumn.canBeActive.true {
}

.headerColumn.canBeActive.true:after {
	content: '+';
	text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 4em;
    animation: canBeActive 0.5s linear infinite;
    -webkit-animation: canBeActive 0.5s linear infinite;
    -moz-animation:    canBeActive 0.5s linear infinite;
}

@keyframes canBeActive {
	0% {
		color: #6f6f6f;
	}
	50% {
		color: #000;
	}
}

@-webkit-keyframes canBeActive {
	0% {
		color: #6f6f6f;
	}
	50% {
		color: #000;
	}
}