.headerColumn {
	width: 15%;
	height: 50px;
	background-color: #FFF;
	display: inline-block;
	border: 1px solid #222222;
	background-image: url(../assets/img/dev1.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.headerColumn.canBeActive.true {
	background-image: url(../assets/img/dev1Plus.png);
	animation-name: canBeActive;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: canBeActive;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	text-align: right;
	color: red;
	font-weight: bold;
}

.headerColumn.canBeActive.true:after {
	content: 'Click me !';
}

@keyframes canBeActive {
	0% {
		background-image: url(../assets/img/dev1Plus.png);
		background-color: #067606;
	}
	50% {
		background-image: url(../assets/img/dev1.png);
		background-color: #FFF;
	}
}

@-webkit-keyframes canBeActive {
	0% {
		background-image: url(../assets/img/dev1Plus.png);
		background-color: #067606;
	}
	50% {
		background-image: url(../assets/img/dev1.png);
		background-color: #FFF;
	}
}