.header {
	height: auto;
	width:800px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 10px;
	background-color: #888;
}

.header .buttonPause {
	position: absolute;
	top: 15px;
	left: -70px;
}