.headerColumn {
	width: 106px;
	height: 81px;
	display: inline-block;
	border-radius:2px;
	vertical-align: middle;
	position: relative;
	background-color: #888;
}
.column.active .headerColumn {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #888;
}

.headerColumn.canBeActive.true {
	cursor: pointer;
}

.headerColumn .message {
	position: absolute;
	top: -10px;
	right: -20px;
	text-align: right;
	padding: 4px;
	line-height: 13px;
	font-family: 'komika';
	color: #e02100;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1em;
	background: #FFF;
	display: none;
}

.headerColumn .number {
	position: absolute;
	top: 35px;
	right: 13px;
}

.headerColumn .number.number0 {
	display: none;
}

.dev {
	display:inline-block;
	width:112px;
	height:105px;
	background-image: url("../assets/img/nogeek.png");
	background-repeat: no-repeat;
	background-position: center right;
	vertical-align: middle;
}
.column.active .dev {
	background-image: url(../assets/img/geek.gif),url(../assets/img/geek.png);
}
.column.active.waiting .dev {
	background-image: url(../assets/img/geek.png);
}


.column.active .headerColumn {
	background-image: url("../assets/img/cardDev-empty.png");
	background-color: transparent;
}
.column.active .headerColumn.classic {
	background-image: url("../assets/img/cardDev.png");
	background-color: transparent;
}
.column.active .headerColumn .avatar{
	content: "";
	position: absolute;
	width: 48px;
	height: 60px;
	top: 10px;
	left: 10px;
	background-position: center;
}