.langs {
	position: absolute;
	top:20px;
	right:20px;
}

.langs .lang {
	height: 32px;
	background:url(../assets/img/flags.png) no-repeat;
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	opacity: 0.5;
}
.langs .lang:hover, .langs .lang:hover{
	opacity: 1;
}

.langs .lang.en {
	background-position: 0 -32px;
	width: 42px;
}
	.langs .lang.en.active {
		background-position: 0 0;
		opacity: 1;
	}
.langs .lang.fr {
	background-position: -42px -32px;
	width: 45px;
}
	.langs .lang.fr.active {
		background-position: -42px 0;
		opacity: 1;
	}
