.langs {
	position: absolute;
	top:20px;
	right:20px;
}

.langs .lang {
	width: 16px;
	height: 11px;
	background:url(../assets/img/flags.png) no-repeat;
	display: inline-block;
	cursor: pointer;
	padding: 0 5px;
}

.langs .lang.active {
	border: 1px solid #f00;
}

.langs .lang.en {
	background-position: 0 -11px
}

.langs .lang.fr {
	background-position: -16px 0
}