@import "reset.less";
@import "font.less";
@import "game.less";
@import "header.less";
@import "backlog.less";
@import "card.less";
@import "column.less";
@import "headerColumn.less";
@import "row.less";
@import "score.less";
@import "popup.less";
@import "user.less";
@import "bonus.less";
@import "page.less";
@import "lang.less";
@import "buttons.less"; 
@import "team.less";
@import "help.less";
@import "gauge.less";

body {
	position: relative;
	background-color: #000;
}

.globalContainer {
	width: 1000px;
	height: 600px;
	text-align: left;
	overflow: hidden;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}


input {
	border:none;

    color: #444;
    text-decoration: none;
    background-color: #FFF;
    font-size: 1.2em;
    display: inline-block;

    padding: 10px 20px;
    margin: 10px;

    border-radius: 2px;
}

.mainlogo{
	display:block;
	margin: 40px auto;
}
.firstPage h1,.firstPage .content{
	display: none;
}

.gradient-red{
	background: #e02100; /* Old browsers */
	background: -moz-linear-gradient(top,  #e02100 0%, #cb2100 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e02100), color-stop(99%,#cb2100)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e02100 0%,#cb2100 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e02100 0%,#cb2100 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e02100 0%,#cb2100 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #e02100 0%,#cb2100 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02100', endColorstr='#cb2100',GradientType=0 ); /* IE6-9 */

}