@import "reset.less";
@import "font.less";
@import "game.less";
@import "header.less";
@import "backlog.less";
@import "card.less";
@import "column.less";
@import "headerColumn.less";
@import "row.less";
@import "score.less";
@import "popup.less";
@import "user.less";
@import "bonus.less";
@import "page.less";
@import "lang.less";
@import "buttons.less"; 
@import "team.less";

body {
	position: relative;
	background-color: #000;
}

.globalContainer {
	width: 1000px;
	height: 600px;
	text-align: left;
	overflow: hidden;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;


button img {
	max-width: 40px;
}


input {
	border:none;

    color: #444;
    text-decoration: none;
    background-color: #FFF;
    font-size: 1.2em;
    display: inline-block;

    padding: 10px 20px;
    margin: 10px;

    border-radius: 2px;
}