.page {
	color: #AAA;
}

.title {
	text-align: center;
	padding: 40px 0 20px;
	font-family:"komika";
	font-weight:normal;
	font-size:2em;
	color: #FFF;
}

.content {
	padding: 40px 100px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

.compatibility{
	padding: 10px;
	text-align: center;
}

.compatibility.true:after {
	content: "OK";
	font-family:"komika";
	color: green;
	background: #FFF;
	padding: 5px;
	display: inline-block;
	transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	margin-left: 10px;
}

.compatibility.false:after {
	content: "KO";
	font-family:"komika";
	color: #cb2100;
	background: #FFF;
	padding: 5px;
	display: inline-block;
	transform:rotate(-2deg);
	-webkit-transform:rotate(-2deg);
	margin-left: 10px;
}

.chooseUserPage .content{
	text-align: center;
}


.githubPage {
	text-align: center;
}
