.page {
	color: #fff;
}

.page .title {
	text-align: center;
	background-color: #444;
	padding: 15px 20px;
}

.page .content {
	padding: 10px;
}

.page .footer {
	background-color: #444;
	padding: 5px 20px;
	text-align: left;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.page.firstPage {

}

.page.helpPage {
	
}

.page.chooseUserPage button {
	width: 130px;
	height: 80px;
	vertical-align: top;
}

.page.chooseUserPage .footer button {
	width: 110px;
	height: 50px;
}

.page.githubPage .content {
	text-align: center;
}