.glass {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.popup {
	position: fixed;
	width: 400px;
	top: 20%;
	left: 50%;
	margin-left: -150px;
	background-color: #ccc;
	border-radius: 10px;
	border: 3px solid #fff;
}

.popup .title {
	text-align: center;
	background-color: #444;
	padding: 15px 20px;
	border-radius: 8px 8px 0 0;
}

.popup .content {
	padding: 10px;
}

.popup .footer {
	background-color: #444;
	padding: 5px 20px;
	border-radius: 0 0 8px 8px;
	text-align: left;
}

.popup.pausePopup .time {
	width: 80%;
	height: 10px;
	background-color: #fff;
	margin: 0 10%;
}

.popup.pausePopup .time .ellapsed {
	height: 10px;
	background-color: red;
}