.glass {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.popup {
	position: fixed;
	width: 400px;
	top: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #ccc;
	border-radius: 2px;
	z-index: 999;
}

.popup .title {
	padding: 15px 0;
	color: #000;
}

.popup .content {
	padding: 10px 40px;
}

.popup .footer {
	position: relative;
	padding: 5px 0 15px;
	text-align: center;
}


.popup.chooseBonusPopup {
}

.popup.chooseBonusPopup .content {
	padding: 10px 0;
	text-align: center;
}


.popup.pausePopup .time {
	width: 80%;
	height: 10px;
	background-color: #fff;
	margin: 0 10%;
}

.popup.pausePopup .time .ellapsed {
	height: 10px;
	background-color: red;
}