.score {
	padding: 0 10px;
	display: inline-block;
}

.life div {
	background:#FFF;
	width:25px;
	height: 25px;
	display: inline-block;
	margin: 2px;
	font-family: 'komika';
	font-size: 25px;
	line-height: 18px;
	text-align: right;
	font-size: 30px;
}

.life .active {
	color: #e02100;
	border: 1px solid #000;
}

.life .inactive {
	color: #AAA;
	background:#BBB;
}
