.logo {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center; 
}

.user .logo {
	background-color: transparent;
	background-size: 50px 50px;
	width: 50px;
	height: 50px;
}

.column.active .headerColumn {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;
}

/*CLASSIC*/
.logo.classic {
	background-image: url(../assets/img/team/classic/classic.png);
}

.column.active .headerColumn.classic {
	background-image: url(../assets/img/team/classic/dev-card-bg.png);
}

/*GITHUB*/
.logo.github {
	background-image: url(../assets/img/team/github/github.png);
}

.column.active .headerColumn.github {
	background-image: url(../assets/img/team/github/github.png);
}

/*FROGGIES*/
.logo.froggies {
	background-image: url(../assets/img/team/froggies/froggies.png);
}

.column.active .headerColumn.froggies.index0 {
	background-image: url(../assets/img/team/froggies/adeline.jpg);
}
.column.active .headerColumn.froggies.index1 {
	background-image: url(../assets/img/team/froggies/audrey.jpg);
}
.column.active .headerColumn.froggies.index2 {
	background-image: url(../assets/img/team/froggies/julien.jpg);
}
.column.active .headerColumn.froggies.index3 {
	background-image: url(../assets/img/team/froggies/vivian.jpg);
}
.column.active .headerColumn.froggies.index4 {
	background-image: url(../assets/img/team/froggies/laurent.jpg);
}